@import 'material';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* universal */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*{
	padding: 0;
	margin: 0;
	a{
		text-decoration: none;
	}
	h1, h2, h3, h4, h5, h6 {
	  line-height: 1;
	}
	h1 {
	  font-size: 3em;
	  letter-spacing: -2px;
	  margin-bottom: 30px;
	  text-align: center;
	}
	h2 {
	  font-size: 1.7em;
	  letter-spacing: -1px;
	  margin-bottom: 30px;
	  text-align: center;
	  font-weight: normal;
	  color: #999;
	}
	p {
	  font-size: 1.1em;
	  line-height: 1.7em;
	}
}
.container-style{
	/* header */
	.header-style{
		background-color: #ff4081;
		.header-icon-style{
			margin-right: 50px;
		}
		.header-menu-style{
			a{
				display: block;
				color: #ff4081;
			}
		}
		.logo-style{
		  float: left;
		  margin-right: 10px;
		  font-size: 1.7em;
		  color: #fff;
		  text-transform: uppercase;
		  letter-spacing: -1px;
		  padding-top: 9px;
		  font-weight: bold;
		  line-height: 1;
		}
		a{
			color: #fff;
		}
	}
	/* main */
	.main-style{
		.home-style{
			text-align: center;
			min-height: 800px;
			.microposts {
			  list-style: none;
			  margin: 0 auto;
			  width: 700px;
			  .pagination{
			  	width: 600px;
			  }
			  li {
			    padding: 10px 0;
			    border-top: 1px solid #e8e8e8;
			    width: 600px;
			    height: 100px;
			    position: relative;
			  }
			}
			.face {
				position: absolute;
				left: 0;
			}
			.content {
			  display: block;
			}
			.timestamp {
			  color: #ff4081;
			}
		}
		.about-style{
			min-height: 800px;
		}
		.edit-grid-style{
			max-width: 580px;
			min-height: 800px;
			.face-grid-style{
				float: left;
			}
			form{
				float: left;
				margin-left: 120px;
				max-width: 320px;
			}
		}
		.users-list-style{
			min-height: 900px;
			width: 640px;
			display: block;
			margin: 0 auto;
			.card-square-style{
				width: 120px;
				min-height: 150px;
				float: left;
				margin: 10px 20px 10px;
			}
		}
		.follow-list-style{
		}
		.signup-grid-style{
			max-width: 300px;
			min-height: 800px;
			#error_explanation {
			  color: #f00;
			  ul {
			    list-style: none;
			    margin: 0 0 18px 0;
			  }
			}
			.submit-grid-style{
				margin-top: 30px;
				max-width: 161px;
			}
		}
		.signin-grid-style{
			min-height: 800px;
			max-width: 300px;
		}
		.help-grid-style{
			min-height: 800px;
		}
		.user-grid-style{
			min-height: 800px;
			.user-grid-one {
				.user-follow-form{
			  	width: 200px;
			  	height: 40px;
			  	margin: 20px auto;
			  }
				.user-stats {
				  overflow: auto;
				  margin: 0 auto;
				  height: 45px;
				  width: 180px;
				  margin-bottom: 20px;
				  a {
				    float: left;
				    padding: 0 10px;
				    border-left: 1px solid #888888;
				    color: gray;
				    &:first-child {
				      padding-left: 0;
				      border: 0;
				    }
				    &:hover {
				      text-decoration: none;
				      color: #ff4081;
				    }
				  }
				  strong {
				    display: block;
				  }
				}
				.user-input{
					margin: 0 auto;
					height: 345px;
					width: 300px
				}
				.microposts {
				  list-style: none;
				  margin: 10px 0 0 0;
				  li {
				  	width: 400px;
				    padding: 10px 0;
				    border-top: 1px solid #e8e8e8;
				  }
				}
				.content {
				  display: block;
				}
				.timestamp {
				  color: #ff4081;
				}
			}
		}
	}
	/* footer */
	.footer-style{
		min-height: 70px;
	}
}