<header class="mdl-layout__header header-style">
  <div class="mdl-layout__header-row">
    <div class="mdl-navigation__title"><%= link_to "sample app", root_path, class: "logo-style" %></div>
    <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
      <span class="mdl-navigation__link"><%= link_to "Home", root_path %></span>
      <span class="mdl-navigation__link"><%= link_to "Help", help_path %></span>
      <span class="mdl-navigation__link"><%= link_to "Sign in", '#' %></span>
    </nav>
  </div>
</header>